# Compilación Angular
/dist
/out-tsc
/.angular

# Archivos de dependencias
/node_modules
/package-lock.json

# Archivos de entorno locales (si los usas)
*.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
*.pid
*.seed
*.pid.lock

# Archivos temporales
*.tgz
*.tmp
*.temp
